@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


body	{
	font-family: 'Lato';
}

head	{
	font-family: 'Roboto';
}

.container {
width: 850px;
margin: 0 auto;
background-color: #79359780;
padding: 20px;
box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.3);
text-align: center;
border-radius:  10px: ;
}

img	{
	width: 200px;
	height: 260px;
	border-radius: 50%;

}

.card-white {
	background-color: floralwhite;
	padding: 20px;
	margin: 16px;
	box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.3);
	border-radius: 6px;
	text-align: center;
}


#card-name {
	font-size: 54px;
}

#img-card-1 {
	background-image: linear-gradient(-220deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.2) 50%), url("images/image-makeup.jpeg")
}

#card-gradient {
	color: white;
	background: linear-gradient(-220deg, green 0%, yellow 75%);

/*media queries*/

}

@media (max-width: 900px) {
	.container{
		background-color: #AE61CF60;
		width: 450px;

	}
}

@media (max-width: 500px) {
	.container{
		background-color: #DFAEF450 ;
		width: 300px;

	}
}
.btn-green {
	color: darkseagreen;
	padding: 5px 10px;
	border border-radius: 6px;
	font-weight: bolder;
	font-size:  32px;
	list-style: none;
}

.btn-pink {

	color: darkseagreen;
	padding: 5px 10px;
	border border-radius: 6px;
	font-weight: bolder;
	font-size:  32px;
	list-style: none;
}

ul{
	padding: 0;
}

li{
	display:  inline;
}

body{
	background-image: url(images/tissu.jpeg);
	background-size: cover;
	background-position: cover;

}

h1	{
	color: white;
	font-size: 48px;

}

a:hover {
	color: #074B24; text-decoration: none;
}

a {
	text-decoration: none;
	color: black;
}

h2	{
	color : #410358;
}

h3	{
	font-size: 26px;
}

.btn-blue {
	background-color: #AE61CF60;
	color:  white;
	padding: 10px 24px;
	border-radius: 6px;
	font-weight: bolder;
	}



